<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZeladorX</title>
</head>
<body>
    <div style="text-align: center;">
         <p style="font-size: 22px; color: #D3D3D3; font-family: Arial, sans-serif; font-weight: bold;">ZeladorX -  Institucional</p>
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <h5 style="font-size: 18px; color: #000; font-family: Arial, sans-serif;">{{ nome }}, {{ email }}</h5>
        <p style="font-size: 14px; color: #000000; font-family: Arial, sans-serif; font-weight: bold;">{{ menssagem }}</p>
    </div>
</body>
</html>