{% load static %}
<div class="row">
  <div class="col-12">
    <h4>{{ content.title_card }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12">
    <div class="card card-primary card-tabs">
      <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
          {% for tab_title in content.tabs_title_contents.keys %}
            <li class="nav-item">
              <a class="nav-link {% if forloop.first %}active{% endif %}" id="custom-tabs-one-{{ content.title_card|slugify }}-{{ tab_title|slugify }}-tab" data-toggle="pill" href="#custom-tabs-one-{{ content.title_card|slugify }}-{{ tab_title|slugify }}" role="tab" aria-controls="custom-tabs-one-{{ content.title_card|slugify }}-{{ tab_title|slugify }}" aria-selected="{% if forloop.first %} true {% else %} false {% endif %}">
                {{ tab_title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="custom-tabs-one-tabContent">
          {% for tab_title, tab_content in content.tabs_title_contents.items %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="custom-tabs-one-{{ content.title_card|slugify }}-{{ tab_title|slugify }}" role="tabpanel" aria-labelledby="custom-tabs-one-{{ content.title_card|slugify }}-{{ tab_title|slugify }}-tab">
              {{ tab_content.0 | safe}}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>