{% load static %}
<div class="row">
  <div class="col-12">
    <h4>{{ content.title_card }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12">
    <div class="card card-primary card-outline card-tabs">
      <div class="card-body">
        <object data="{% static content.doc_walk %}" type="application/pdf" width="100%" height="1700px">
          <p>Seu navegador não suporta PDF embutido. Você pode baixar o documento <a href="{% static content.doc_walk %}">aqui</a>.</p>
        </object>
      </div>
    </div>
  </div>
</div>