{% load static %}
<div class="card">
  <div class="card-body row">
    <div class="col-5 text-center d-flex align-items-center justify-content-center">
      <div class="">
        <h2>Zelador<strong>X</strong></h2>
        <p class="lead mb-5">Rua Acre, 247, Ponto Belo, Espirito santo<br>
          Telefone: 27 996090941
        </p>
      </div>
    </div>
    <div class="col-7">
      <div class="card-body login-card-body">
        <form action="{{ content.url }}" method="POST" enctype="multipart/form-data">
          <div class="card-body">
            <div class="form-group">
              {% csrf_token %}
                <div class="form-group">
                  {% for field in content.forms.visible_fields %}
                    <div class="form-group">
                      <label for="{{ field.id_for_label }}" >
                        {{ field.label }}
                      </label>
                      {{ field }}
                    </div>
                  {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
              <button type="POST" class="btn btn-primary">Enviar menssagem</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>